<!-- -*- html-helper -*- -->
<TMPL_INCLUDE NAME=dbheader.tmpl>
<p>データベース   <TMPL_VAR NAME=DBNAME> に関する設定を登録・更新します。</p>
<TMPL_VAR NAME=MESSAGE>

<h2>全般の設定</h2>
<form method="POST" action="<TMPL_VAR NAME=SCRIPT_NAME>/<TMPL_VAR NAME=DBNAME>">
<input type="hidden" name="action" value="dbconfig">
<table cellpadding="2" border="2">
  <TMPL_VAR NAME=FORM_CONFIG>
</table>
<p><input type="submit" value=" 設定 "></p>
</form>

<hr>
<TMPL_IF NAME=FORM_INFO>
<h2>フィールドの設定/編集</h2>
<table cellpadding="2" border="2">
  <tr><th>フィールド名</th><th></th></tr>
  <TMPL_VAR NAME=FORM_INFO>
</table>
</TMPL_IF>

<h2>フィールドの設定</h2>
<form method="POST" action="<TMPL_VAR NAME=SCRIPT_NAME>/<TMPL_VAR NAME=DBNAME>">
<input type="hidden" name="action" value="addfield">
<table cellpadding="2" border="2">
  <TMPL_VAR NAME=FORM_ADDFIELD>
</table>
<p><input type="submit" value=" 新規フィールドの追加 "></p>
</form>

<TMPL_INCLUDE NAME=footer.tmpl>
